<!DOCTYPE html>
<html>
    <head>
        <title>an ejs page</title>
    </head>
    <body>
        <h1>EJS</h1>
        <p>
            This is an ejs page and will show data from the server. 
        </p>
    </body>
</html>